body {
    background: white;
    color: black;
}

.social img {
    display: block;
    margin: 0 auto 0 auto;
}

.social-info {
    text-align: center;
    display: inline;
}

a, a:visited {
    color: black;
}

.link {
    margin-left: 30%;
}
