body {
    background: white;
    color: black;
    overflow-x:hidden;
    width:100%;
}

header {
    margin-top: 2%;
}

.news {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

a, a:visited {
    color: black;
}

.sekcia {
    text-align: center;
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

.link {
    margin-left: 30%;
    color: black;
}

img {
    width: 90%;
    text-align: center;
}
