body {
    background: white;
    color: black;
}

header {
    margin-top: 10px;
}

.shop {
    width: 90%;
    margin: 0 auto;
}

.item {
    margin: 50px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

a, a:visited {
    color: black;
}

.link {
    margin-left: 30%;
    color: black;
}

img {
    margin-top: 30px;
}
